:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#monkeygpt {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
}

.monkeygpt-card {
  position: absolute;
  top: 30vh;
  right: 0;
  border-radius: 0.5rem;
}

.monkeygpt-warp {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  width: 30vw;
  height: 100vh;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.monkeygpt-warp .monkeygpt-card {
  top: 0;
  padding: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}


#monkeygpt xmp,
#monkeygpt pre {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /*Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

#monkeygpt .loader {
  border: 8px solid #f3f3f3;
  /* 灰色的外边框 */
  border-top: 8px solid #3498db;
  /* 蓝色的顶部边框 */
  border-radius: 50%;
  /* 使其变成圆形 */
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  /* 旋转动画 */
}

#monkeygpt button {
  border: none;
  background: #3b5998;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 6px;
  font-size: 14px;
  line-height: 1.5rem;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  border-radius: 0.1rem;
}

/* 定义旋转动画 */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1560px) {
  .monkeygpt-warp {
    width: 50vw;
  }
}


@media screen and (max-width: 720px) {
  .monkeygpt-warp {
    width: 100vw;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}